<footer class="page-footer bg-dark blue mt-auto">    
    <div class="footer-copyright text-center py-3 text-muted">
      <span>&copy; DTUChat 2021 -------   <i>Made by- Mihir Aryan & Mayank Singh</i></span>
    </div>
</footer>