<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Questions</title>
</head>
<body>
    <h1>All Questions</h1>

    <a href="/questions/new">Add New Question</a>

    <ul>
        <% for(let question of questions){ %>
            <li><a href="/questions/<%= question._id %>" ><%= question.question %> </a> - <b><%= question.author %></b></li>
        <% } %>
    </ul>
    <p>
        <a href="/">Home Page</a>
    </p>
</body>
</html>