<% layout("layouts/boilerplate.ejs") %>

<h1>Enter New Question</h1>
<form action="/questions" method="POST">
    <label for="question">Enter Your Question : </label>
    <input type="text" name="questions[question]" title="question"><br>
    <label for="description">Enter Some Description : </label>
    <input type="text" name="questions[description]" id="description"><br>
    <label for="author"> Enter Your Name :</label>
    <input type="text" name="questions[author]" id="author"><br>
    <button>Create</button>
</form>

<p>
    <a href="/">Home Page</a>
</p>