<% layout("layouts/boilerplate.ejs") %>

<div class="row justify-content-center">
	<div class="col-md-8 bg-light pt-3">
		<h1 class="text-center">Enter New Question</h1>
		<form
			action="/questions"
			method="POST"
			novalidate
			class="validated-form"
		>
			<div class="form-group">
				<label for="question">Enter Your Question</label>
				<input
					type="text"
					class="form-control"
					id="question"
					name="questions[question]"
					required
				/>
				<!-- <div class="valid-feedback">Looks good!</div> -->
			</div>
			<div class="form-group">
				<label for="description">Enter Some Description</label>
				<textarea
					class="form-control"
					id="description"
					rows="3"
					name="questions[description]"
				></textarea>
				<!-- <div class="valid-feedback">Looks good!</div> -->
			</div>
			<div class="form-group">
				<label for="author">Enter Your Name </label>
				<input
					type="text"
					class="form-control"
					id="author"
					name="questions[author]"
					required
				/>
			</div>
			<!-- <div class="valid-feedback">Looks good!</div> -->
			<br />
			<button type="submit" class="btn btn-primary">
				Create Question
			</button>
		</form>

		<br />

		<p>
			<a href="/questions">All Questions</a>
		</p>
	</div>
</div>
